<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251930127860-q49cm7i8tbucq78qcduuc49k46joh5p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251930127860-q49cm7i8tbucq78qcduuc49k46joh5p8</string>
	<key>API_KEY</key>
	<string>AIzaSyAeWoCo6aKiPywpQ_vjlGqUvQyiUPsoJt4</string>
	<key>GCM_SENDER_ID</key>
	<string>251930127860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ryan.wishpick</string>
	<key>PROJECT_ID</key>
	<string>wishpick-c82bc</string>
	<key>STORAGE_BUCKET</key>
	<string>wishpick-c82bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251930127860:ios:a672a73a47f68d585bdda1</string>
	<key>DATABASE_URL</key>
	<string>https://wishpick-c82bc.firebaseio.com</string>
</dict>
</plist>